<div class="row" ng-controller="ProfilePersonalCtrl">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12 col-lg-2">
        <img data-src="holder.js/120x120" holder-fix class="img-circle">
      </div>
      <div class="col-xs-12 col-lg-10">
        <h3>optimistiks <span class="label label-success">42</span>
        </h3>
        <hr>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-xs-12 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Общие очки</h3>
          </div>
          <div class="panel-body text-center">
            <h1>1784</h1>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Лайков получено</h3>
          </div>
          <div class="panel-body text-center">
            <h1>24</h1>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Контента добавлено</h3>
          </div>
          <div class="panel-body text-center">
            <h1>66</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4 col-lg-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Слов изучено</h3>
          </div>
          <div class="panel-body text-center">
            <h1>7</h1>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Переводов создано</h3>
          </div>
          <div class="panel-body text-center">
            <h1>8</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
