<div>
  <div class="modal-header">
    <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Необходима регистрация</h4>
  </div>
  <div class="modal-body">
    <p>
      Чтобы воспользоваться всеми преимуществами сервиса, такими как:

    <ul>
      <li>Анализ Вашего словарного запаса.</li>
      <li>Персональная подборка материалов для расширения Вашего словарного запаса.</li>
      <li>Средства для контроля Вашего прогресса в изучении новых слов.</li>
    </ul>

    необходимо зарегистрироваться.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">Отмена</button>
    <a class="btn btn-primary" ui-sref="register" ng-click="$dismiss()">Перейти к регистрации</a>
  </div>
</div>
