<div class="row" ng-controller="ProfileCtrl">
  <div class="col-xs-12 col-lg-2">
    <ul class="nav nav-tabs nav-stacked" role="tablist">
      <li ui-sref-active="active"><a ui-sref="profile.personal">Моя страница</a></li>
      <li ui-sref-active="active"><a ui-sref="profile.rating">Рейтинг</a></li>
      <li ui-sref-active="active"><a ui-sref="profile.control">Контроль знаний</a></li>
      <li ui-sref-active="active"><a ui-sref="profile.materials">Материалы</a></li>
      <li ui-sref-active="active"><a ui-sref="profile.private">Учетная запись</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-lg-10">
    <div ui-view></div>
  </div>
</div>
