<div>
	<div class="modal-header">
		<button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Смена email</h4>
	</div>
	<div class="modal-body">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Новый email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
    </form>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="$dismiss()">Отмена</button>
		<button type="button" class="btn btn-primary">Сохранить</button>
	</div>
</div>
