<div class="row" ng-controller="ProfileControlCtrl">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <h3>
          Изучаемые слова
          <span class="label label-default">14</span>
          <a href="#" class=" pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-9">
        <div class="btn-group">
          <button type="button" class="btn btn-info">Пройти тест</button>
          <button type="button" class="btn btn-default">Подобрать материалы</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
          <tr>
            <th>
            </th>
            <th class="text-center">Просмотрено раз</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="n in [1,2,3,4,5]">
            <td>
              <p>authorized so here is we are nothing we can do in this pititiness</p>
              <div>
                <span class="label label-success">Тест пройден</span>
              </div>
            </td>
            <td class="text-center">{{ n }}</td>
          </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pager">
            <li><a href="#"><</a></li>
            <li><a href="#">></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="col-xs-12" >
    <div class="row">
      <div class="col-xs-12">
        <h3>Изученные слова <span class="label label-default">14</span>          <a href="#" class=" pull-right"><span class="glyphicon glyphicon-cog"></span></a>
        </h3>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-9">
        <div class="btn-group">
          <button type="button" class="btn btn-info">Пройти тест</button>
          <button type="button" class="btn btn-default">Подобрать материалы</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
          <tr>
            <th>
            </th>
            <th class="text-center">Просмотрено раз</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="n in [1,2,3,4,5]">
            <td>
              <p>authorized so here is we are nothing we can do in this pititiness</p>
              <div>
                <span class="label label-success">Тест пройден</span>
              </div>
            </td>
            <td class="text-center">{{ n }}</td>
          </tr>
          </tbody>
        </table>
        <nav>
          <ul class="pager">
            <li><a href="#"><</a></li>
            <li><a href="#">></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

