html,body {
    height: 100%; /* задаем высоту тела документа */
    background: none;
}
    .main-wrapper { /* основной блок, который должен растянуться до подвала */
        background: rgb(255,255,255);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZGRlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%, rgba(217,221,224,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(53%,rgba(255,255,255,1)), color-stop(100%,rgba(217,221,224,1)));
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
        background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
        background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9dde0',GradientType=1 );
        min-height: 100%; /* задаем минимальную высоту основного блока */
        opacity: 0.99;
    }
        .main-container > h3 {
            font-weight: 300;
            text-align: center;
            color: #636363;
        }
            .gray-stripe{
                margin: 5px 0;
                text-align: center;
                width: 100%;
                height: 2px;
                background: url("../img/gray-stripe.png") 50% no-repeat;
            }

            .idea-man {
                float: left;
                margin: 0 15px 10px 0;
            }

            .promo-text {
                color: #6b6b6b;
                font-size: 17px;
                line-height: 25px;
            }

                .promo-text > p {
                    color: #3b3d3e;
                    margin: 0 0 20px;
                    text-indent: 15px;
                }

            .contacts-field {
                font-size: 16px;
                text-align:left;

            }

            .appeal {
                margin-top: 30px;
                font-size: 20px;
                color: #808080;
            }



* html .main { /* хак для ie6 */
    height: 100%; /* для ие6, т.к. не понимает min-height */
}
.hFooter { /* это распорка в основном блоке - резервируем место для подвала */
    height: 200px; /* высота нашего подвала */
}
.footer {
    opacity: 0.99;
    height: 200px;
    margin-top: -200px; /* делаем отрицательный отступ по высоте равный высоте подвла, чтобы четко вписаться в размер экрана */
}
