/*p, h2, h1 {*/
    /*font-family: sans-serif;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
body {

    font-family: sans-serif;
    background: rgb(255,255,255);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZGRlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%, rgba(217,221,224,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(53%,rgba(255,255,255,1)), color-stop(100%,rgba(217,221,224,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 53%,rgba(217,221,224,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9dde0',GradientType=1 );
    margin: 0;
    background-repeat: no-repeat;
}
.headline {
    background: rgb(218,222,225);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RmZTJlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iIzUwYTdkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzUwYTdkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmUyZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(218,222,225,1) 0%, rgba(80,167,220,1) 21%, rgba(80,167,220,1) 79%, rgb(221, 224, 227) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(218,222,225,1)), color-stop(21%,rgba(80,167,220,1)), color-stop(79%,rgba(80,167,220,1)), color-stop(100%, rgb(221, 224, 227)));
    background: -webkit-linear-gradient(left,  rgba(218,222,225,1) 0%,rgba(80,167,220,1) 21%,rgba(80,167,220,1) 79%, rgb(221, 224, 227) 100%);
    background: -o-linear-gradient(left,  rgba(218,222,225,1) 0%,rgba(80,167,220,1) 21%,rgba(80,167,220,1) 79%, rgb(221, 224, 227) 100%);
    background: -ms-linear-gradient(left,  rgba(218,222,225,1) 0%,rgba(80,167,220,1) 21%,rgba(80,167,220,1) 79%, rgb(221, 224, 227) 100%);
    background: linear-gradient(to right,  rgba(218,222,225,1) 0%,rgba(80,167,220,1) 21%,rgba(80,167,220,1) 79%, rgb(221, 224, 227) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadee1', endColorstr='#dadee1',GradientType=1 );
    height: 25px;
    line-height: 25px;
    color: white;
    text-align: center;
    position:relative;
}
.headline:before,
.headline:after {
    content:"";
    position:absolute;
    z-index:-2;
}
.headline:before {
    top: 50%;
    bottom: 1px;
    left: 50px;
    right: 50px;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.4);
    box-shadow:0 1px 15px rgba(0,0,0,0.4);
    -moz-border-radius:1000px / 25px;
    border-radius:1500px / 30px;
}
header {
    height: 85px;
    margin: 20px auto 0 ;
    width: 850px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}
.easydict {
    float: left;
}
@font-face{
  font-family: cooper ;
  src: url(../font/cooperblackstd.ttf);
}
.slogan {
    font-size: 9pt;
    font-family: cooper;
    margin: 0;
    float: left;
    padding: 65px 0 0 20px;
    color: #4d585e;
}
.inline {
    width: 850px;
    margin: 0 auto;

}
.header-welcome {
    font-size: 11pt;
    text-shadow: 1px 1px 1px #747474;
    margin: 0;
    float: right;
}
.header-name {
    font-size: 11pt;
    text-shadow: 1px 1px 1px #747474;
    margin:0 ;
    float: left;
}
.main-container {
    width: 850px ;
    margin: 0 auto;
}

.carousel {
    margin: 5px 0 0 4px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

    .carousel-inner {
        border-radius: 10px;
    }

        .carousel-text-wrap {
            position: absolute;
            top:37%;
            width: 500px;
            text-align: center;
        }

            .carousel-text-wrap > h3 {
                text-shadow: 0 0 3px black, 0 0 10px rgba(0, 0, 0, 0.51);
                color: #ffffff;
                line-height: 30px;
                font-family: sans-serif;
                font-weight: 300;
            }

        .first-slide {
           left:28%;
        }

        .second-slide {
            left:5%;
        }

        .third-slide {
            right: 20px;
            text-align: right;
        }

        .img-logo {
            position: absolute;
        }

            .first-slide + .img-logo {
                top: 10% ;
                right:4%;
            }

            .second-slide + .img-logo {
                top: 20% ;
                right:4%;
                transform: rotate(50deg);
                -webkit-transform: rotate(50deg);
                -moz-transform: rotate(50deg);
                -ms-transform: rotate(50deg);
            }

            .third-slide + .img-logo {
                top: 55% ;
                right:45%;
            }

        .carousel-control {
            background: none;
            border: none;
            top: 89%;
        }

        .left {
            left:90%
        }

.dec-panel-shadow {
    background: url(../img/dec_panel_shadow.png) no-repeat;
    width: 982px;
    height: 49px;
    margin-left: -60px ;
    margin-top: -26px;
}

.container-buttons {
    float: right;
    margin: 46px 3px 0 0;
}

.nav-button {
    line-height: 29px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 4px;
	text-shadow: 1px 1px 1px #626364;
	color: white;
	border: 1px solid #5e6e77;
    border-radius: 8px;
    box-shadow: 0 2px 3px #8a878c;
	width: 90px;
	height: 30px;
	background: url(../img/buttons/sprite-new2.png) 50% 100%;
    cursor: pointer;
}
.nav-button:hover {
    background-position: center center;
    border-color:  #1b89b2;
    text-decoration: none;
    color: #ffffff;


}
.nav-button:active{
    background-position: top center;
    border-color:  #1b89b2;
    text-decoration: none;
    color: #ffffff;
}
.bottom-wrapper {
    background: rgb(241,242,243);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iI2YxZjJmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iI2M1ZTFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM5JSIgc3RvcC1jb2xvcj0iI2U2ZjJmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2U2ZjJmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2M1ZTFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2YyZjNmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(241,242,243,1) 3%, rgba(197,225,242,1) 20%, rgba(230,242,249,1) 39%, rgba(230,242,249,1) 60%, rgba(197,225,242,1) 80%, rgba(242,243,244,1) 97%);
    background: -webkit-gradient(linear, left top, right top, color-stop(3%,rgba(241,242,243,1)), color-stop(20%,rgba(197,225,242,1)), color-stop(39%,rgba(230,242,249,1)), color-stop(60%,rgba(230,242,249,1)), color-stop(80%,rgba(197,225,242,1)), color-stop(97%,rgba(242,243,244,1)));
    background: -webkit-linear-gradient(left,  rgba(241,242,243,1) 3%,rgba(197,225,242,1) 20%,rgba(230,242,249,1) 39%,rgba(230,242,249,1) 60%,rgba(197,225,242,1) 80%,rgba(242,243,244,1) 97%);
    background: -o-linear-gradient(left,  rgba(241,242,243,1) 3%,rgba(197,225,242,1) 20%,rgba(230,242,249,1) 39%,rgba(230,242,249,1) 60%,rgba(197,225,242,1) 80%,rgba(242,243,244,1) 97%);
    background: -ms-linear-gradient(left,  rgba(241,242,243,1) 3%,rgba(197,225,242,1) 20%,rgba(230,242,249,1) 39%,rgba(230,242,249,1) 60%,rgba(197,225,242,1) 80%,rgba(242,243,244,1) 97%);
    background: linear-gradient(to right,  rgba(241,242,243,1) 3%,rgba(197,225,242,1) 20%,rgba(230,242,249,1) 39%,rgba(230,242,249,1) 60%,rgba(197,225,242,1) 80%,rgba(242,243,244,1) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f3', endColorstr='#f2f3f4',GradientType=1 );


    position:relative;
     height:660px;
}
.bottom-wrapper:before,
.bottom-wrapper:after {
    content:"";
    position:absolute;
    z-index: -1;
}
.bottom-wrapper:before {
    bottom:50%;
    top:0;
    left:10px;
    right:10px;
    -webkit-box-shadow:0 -5px 15px rgba(0,0,0,0.3);
     border-radius:500px / 20px;
     box-shadow:0 -5px 15px rgba(0,0,0,0.3);
    -moz-box-shadow:0 -5px 15px rgba(0,0,0,0.3);
    -moz-border-radius:500px /20px;
}
.bottom-container {
    padding-top:30px ;
    position: relative;
    width: 850px;
    height: 400px;
    margin: 0 auto;
}
.footer {
    background: url(../img/footer.png) repeat-x;
    height: 260px;
}
.principles {

    position: relative;
    float: left;
    height: 500px;
    width: 250px;
}
.comics {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;

    height: 206px;
}
.man {
    float: left;
    width: 237px;
    height: 206px;
    background: url(../img/comics/man3.png) no-repeat;
}
.man-cloud {
    margin-left: -70px;
    width: 218px;
    height: 83px;
    float: left;
    background: url(../img/comics/bop.png)no-repeat;
}
@font-face {
    font-family: segoe;
    src: url(../font/segoe.ttf);
}
.man-speech {
    line-height: 15px;
    font-size: 10pt;
    font-family: segoe;
    color: #525252;
    padding: 25px 0 0 45px;
    text-align: center;
    width: 150px;
}
.center-text{
    margin: 95px 0 0 -115px;
    float: left;
    font-size: 11pt;
    width: 330px;
    height: 70px;
}
div.center-text>p {
    font-family: arial;
    line-height: 17px;
    color: #545454;
    text-shadow: 0 0 6px rgba(55,160,182,0.4);
    margin: 0;
    text-align: center;
}
.woman-cloud {
    float: left;
    margin: 0 0 0 -120px;
    width: 218px;
    height: 83px;
    float: left;
    background: url(../img/comics/woman-cloud.png)no-repeat;
}
div.woman-cloud>p {
    line-height: 17px;
    font-size: 10pt;
    font-family: segoe;
    color: #525252;
    padding: 22px 0 0 35px;
    text-align: center;
    width: 130px;
}
.woman {
    margin-top: -79px;
    float: right;
    width: 218px;
    height: 202px;
    background: url(../img/comics/woman5.png);
}
.reg-container {
    z-index: -1;
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3) ;
    position: absolute;
    left: 34.3%;
    top: -26px;
    border-radius: 35px;
    width: 282px;
    height: 60px;
    background: rgb(220,237,247);
    background: -moz-linear-gradient(top,  rgba(220,237,247,1) 0%, rgba(230,242,249,1) 43%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,237,247,1)), color-stop(43%,rgba(230,242,249,1)));
    background: -webkit-linear-gradient(top,  rgba(220,237,247,1) 0%,rgba(230,242,249,1) 43%);
    background: -o-linear-gradient(top,  rgba(220,237,247,1) 0%,rgba(230,242,249,1) 43%);
    background: -ms-linear-gradient(top,  rgba(220,237,247,1) 0%,rgba(230,242,249,1) 43%);
    background: linear-gradient(to bottom,  rgba(220,237,247,1) 0%,rgba(230,242,249,1) 43%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcedf7', endColorstr='#e6f2f9',GradientType=0 );
}
.bottom-container > button{
    position: absolute;
    width: 261px;
    height: 41px;
    left: 35.6%;
    top: -19px;
    border:  1px solid #437390;
    font-size: 23px;
    color: white;
    line-height: 1.3em;
    padding-right:20px;
    background: url(../img/buttons/reg.png)no-repeat center -2px;
    border-radius: 30px;
    text-shadow:  0 0 5px rgba(0,0,0,0.9);

}
 .bottom-container > button:hover{
    background-position: center -44px;
    border-color:  #52abd9;
    text-shadow:  0 0 5px rgba(0, 105, 255, 0.80);
}
 .bottom-container > button:active {
    background-position: center -86px;
    border-color:  #437390;
    text-shadow:  0 0 4px rgb(0, 0, 0);
}
 .principles>h1 {
    text-shadow: 0 3px 2px rgba(0,0,0,0.1), 0 0 5px rgba(98, 252, 255, 0.3);
    font-size: 27px;
    text-align: center;
    color: #6b747a;
     padding: 0 0 10px 5px;


}
div > .princ-img {
    border-radius: 7px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.principles>p {
    padding-top: 15px;
    color: #3b3d3e;
    font-size: 17px;
    line-height: 1.2em;
    width: 255px;
}
.principles > h1 {
    margin: 0;
}
.princ-margin {
    margin-left: 50px;
}

.registration {
    display: none;
    position: relative;
    border: 1px solid #7AAFCF ;
    border-radius: 10px;
    margin: 0 auto 0 auto;
    width: 390px;
    padding-bottom: 20px;
    background: rgb(238,246,251);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjZWVmNmZiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZWVmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(238,246,251,1) 45%, rgba(223,238,248,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%,rgba(238,246,251,1)), color-stop(100%,rgba(223,238,248,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(238,246,251,1) 45%,rgba(223,238,248,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(238,246,251,1) 45%,rgba(223,238,248,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(238,246,251,1) 45%,rgba(223,238,248,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(238,246,251,1) 45%,rgba(223,238,248,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef6fb', endColorstr='#dfeef8',GradientType=1 );

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.registration > h2 {
    font-size: 30px;
    margin: 10px 0;
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.10);
    color: #366d8d;
    text-align: center;
    line-height: 60px;
}
.registration p {

   font-size: 16px;
   font-weight: bold;
   color: #5e6a70;
   padding-left: 45px;

}
.input-wrapper {
    position: relative;
}
div.input-wrapper > input{
    background: rgb(248,248,248);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOWVhZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgb(243, 244, 246) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%, rgb(243, 244, 246)));
    background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%, rgb(243, 244, 246) 100%);
    background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%, rgb(243, 244, 246) 100%);
    background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%, rgb(233, 234, 236) 100%);
    background: linear-gradient(to bottom,  rgba(248,248,248,1) 0%, rgb(243, 244, 246) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e9eaec',GradientType=0 );
    display: block;
    text-align: center;
    padding: 0 10px;
    font-size: 20px;
    box-shadow: 0 0 5px #7aafcf inset;
    border: 1px solid #7aafcf;
    border-radius: 5px;
    margin: 3px auto 15px auto;
    color: #4d585e;
    width: 280px;
    height: 45px;
    outline: none;
}
.input-wrapper > input:focus{
    box-shadow:  0 0 5px rgba(0, 107, 198, 0.61);
}
.reg-button {
    display: block;
    margin: 20px auto 0 auto;
}
.input-error {
    position: absolute;
    background: #ffdada;
    border: 1px solid #fd2929;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.29);
}
.input-error>span {

    white-space: nowrap;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: #b8211d;
}
.right-side {
    top:14% ;
    right: -49% ;
}
.right-side:before {
    content:'' ;
    position: absolute;
    top: 25%;
    left: -16px;
    width: 0;
    height: 0;
    border: 8px solid ;
    border-color: transparent #fd2929 transparent transparent;
}
.right-side:after {
    content:'' ;
    position: absolute;
    top: 28.5%;
    left: -13px;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color: transparent #ffdada transparent transparent ;
}
.left-side {
  top: 14% ;
    right: 92%;
}
.left-side:before {
    content:'' ;
    position: absolute;
    top: 27% ;
    right: -15px;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color: transparent  transparent transparent #fd2929 ;
}
.left-side:after {
    content:'' ;
    position: absolute;
    top: 27% ;
    right: -13px ;
    width: 0;
    height: 0;
    border: 7px solid;
    border-color: transparent  transparent transparent #ffdada ;
}


